POSTGRES_USER=admin
POSTGRES_PASSWORD=xxx
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=bookify
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public
