POSTGRES_USER=admin
POSTGRES_PASSWORD=xxx
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=bookify

DATABASE_URL=postgresql://admin:xxx@localhost:5432/bookify?schema=public
JWT_SECRET=your_jwt_secret

SMTP_HOST="localhost"
SMTP_PORT=1025
SMTP_FROM="no-reply@bookify.com"

APP_URL=http://localhost:3000